[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vjpanwar1985
[access "refs/for/refs/*"]
	read = group user/vjpanwar1985
	push = group user/vjpanwar1985
	label-Code-Review = -2..+2 group user/vjpanwar1985
	label-Verified = -1..+1 group user/vjpanwar1985
	rebase = group user/vjpanwar1985
	removeReviewer = group user/vjpanwar1985
	submit = group user/vjpanwar1985
[access "refs/heads/*"]
	read = group user/vjpanwar1985
	create = group user/vjpanwar1985
	push = +force group user/vjpanwar1985
	pushMerge = group user/vjpanwar1985
[access "refs/tags/*"]
	push = group user/vjpanwar1985
	push = +force group user/vjpanwar1985
